html, body {
    margin: 0;       /* remove the default margin          */
    height: 100%;    /* make the html,body fill the page   */
    background-color: #FAF9F6;
  }
.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}